
#header_term { background:url(/html/img/header.png) repeat; height:30px;clear: both; margin-bottom: 20px;}

#footer_term { background:url(/html/img/footer.png) repeat; height:20px; margin-top:20px;}

/* .titulo { font-size:15px; font-weight:bold; margin-top:20px; padding-left: 30px; } */ h4

/* .subtitulo { font-size:12px; font-weight:bold; margin-top:20px; padding-left: 30px; } */ h5
	
/* .txt { font-size:10px; margin-top:10px; padding-left:30px; width: 900px; } */ h6

